<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DuckEncoder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DuckEncoder.My.MySettings>
            <setting name="colorScript" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idiomaApp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idiomaModificado" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="idiomaModificadoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="idiomaPath" serializeAs="String">
                <value />
            </setting>
            <setting name="idiomaIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </DuckEncoder.My.MySettings>
    </userSettings>
</configuration>